<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clipper" version="6.2.10" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="ManagedEsent" version="1.9.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="UnitsNet" version="3.36.0" targetFramework="net452" />
  <package id="Wosad.Common" version="0.0.6.1" targetFramework="net452" />
  <package id="Wosad.Steel" version="0.0.5.5" targetFramework="net452" />
  <package id="Xbim.Essentials" version="3.1.10" targetFramework="net452" />
</packages>