<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.7.2" targetFramework="net452" />
  <package id="Clipper" version="6.4.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net472" />
  <package id="NPOI" version="2.4.0" targetFramework="net472" />
  <package id="Rhino3dmIO.dll-AnyCPU-Windows" version="5.1.30000.25" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="Wosad.Common" version="0.0.9.1" targetFramework="net452" />
  <package id="Xbim.Cobie" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.CobieExpress" version="5.0.127" targetFramework="net472" />
  <package id="Xbim.CobieExpress.IO" version="5.0.123" targetFramework="net472" />
  <package id="Xbim.COBieLite" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.COBieLiteUK" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.CobieLiteUK.Validation" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.Common" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.DPoW" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.Essentials" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.Exchanger" version="5.0.169" targetFramework="net472" />
  <package id="Xbim.Geometry" version="5.0.163" targetFramework="net472" />
  <package id="Xbim.Geometry.Engine.Interop" version="5.0.163" targetFramework="net472" />
  <package id="Xbim.Ifc" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.Ifc2x3" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.Ifc4" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.IO.CobieExpress" version="5.0.127" targetFramework="net472" />
  <package id="Xbim.IO.Esent" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.IO.MemoryModel" version="5.0.213" targetFramework="net472" />
  <package id="Xbim.IO.Table" version="5.0.127" targetFramework="net472" />
  <package id="Xbim.ModelGeometry.Scene" version="5.0.163" targetFramework="net472" />
  <package id="Xbim.PropertySets" version="4.0.1" targetFramework="net452" />
  <package id="Xbim.PropertySets.4" version="4.0.1" targetFramework="net452" />
  <package id="Xbim.Tessellator" version="5.0.213" targetFramework="net472" />
</packages>